<% if (success && success.length > 0) { %>
  <div class="alert alert-success">
    <% success.forEach(message => { %>
      <p><%= message %></p>
    <% }); %>
  </div>
<% } %>

<% if (errors && errors.length > 0) { %>
  <div class="alert alert-danger">
    <% errors.forEach(message => { %>
      <p><%= message %></p>
    <% }); %>
  </div>
<% } %>
